<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Receitas love | Receitinhas</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="topo">
        <h1> Receitas Love</h1>
        <p> Aquelas receitas que vão levar amor pra toda a sua família e amigos!</p>
    </div>

    <div class="conteudo">
            <div class="col1">

                    <p>Fazer login</p>
                    <form action="/usuario/login" method="post">
                        <label>Login:</label><br>
                        <input type="text" name="login"><br>
                        <label>senha:</label><br>
                        <input type="password" name="senha"><br>
                        <button type="submit">Logar</button>
                    </form>

            </div>
            <div class="col2">
                <p>Receitas Love é o seu cantinho apaixonante para explorar o mundo da culinária! Aqui, cada receita é pensada com carinho, para transformar momentos simples em experiências deliciosas. Seja você um cozinheiro iniciante ou um chef experiente,
                    nosso site oferece passo a passo detalhado, dicas práticas e sugestões criativas para tornar cada prato único. Descubra receitas doces e salgadas, tradicionais e inovadoras, todas reunidas em um espaço acolhedor onde cozinhar se torna um ato de amor. No Receitas Love, cozinhar é mais que preparar comida — é espalhar sabor e afeto em cada prato. </p>
                <img src="../static/image/download (2).jpg" width="400px" height=250px">

            </div>
            <div class="col3">

                    <p>Cadastro de usuário</p>
                    <form action="/usuario/cadastrar" method="post">
                        <label>Usuário:</label><br>
                        <input type="text" name="nome"><br>
                        <label>login:</label><br>
                        <input type="text" name="login"><br>
                        <label>senha:</label><br>
                        <input type="password" name="senha"><br>
                        <button type="submit">Cadastrar</button>
                    </form>

            </div>
        </div>

    </div>
</body>
</html>