<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PRINCIPAL</title>
    <link rel="stylesheet" href="../static/css/paginaprincipal.css">
</head>
<body>

    <div class="topo">
        <h1> Receitas Love</h1>
        <p> Compartilhe e conheça novas receitas no Receitas Love! Você nao vai se arrepender <3</p>
    </div>

    <div class="menu">
        <div class="botao">
            <a href="/">Home</a>
        </div>
        <div class="botao">
            <a href="/usuario/encomendarbebida">Comprar Bebidas</a>
        </div>
        <div class="botao">
            <a href="/usuario/encomendarcomida">Comprar comida</a>
        </div>
        <div class="botao">
            <a href="/usuario/logout">LOGOUT</a>
        </div>
    </div>
    <div class="conteudo">
        <div class="col1">
            <img src="../static/image/paodequeijo.jpg" width="450px" height=250px">
            <br>
            <a href="https://www.tudogostoso.com.br/"> RECEITAS DIARIAS</a>
                        <br><br>
            <img src="../static/image/colorido.png" width="400px" height=250px">
            <br>
            <a href="https://cookpad.com/br/busca/francesas"> RECEITAS FRANCESAS</a>
        </div>
        <div class="col2">
            <img src="../static/image/colorido.png" width="400px" height=250px">
            <br>
            <a href="https://www.tudogostoso.com.br/noticias/cultura-brasileira-a-mesa-20-pratos-tipicos-do-brasil-para-se-deliciar-a7578.htm"> TIPICAS BRASILEIRAS</a>
            <br><br>
            <img src="../static/image/colorido.png" width="400px" height=250px">
            <br>
            <a href="https://www.tudogostoso.com.br/noticias/receitas-de-comidas-italianas-a8321.htm"> RECEITAS ITALIANAS</a>

        </div>
        <div class="col3">
            <img src="../static/image/almoco.png" width="400px" height=250px">
            <br>
            <a href=".."> RECEITAS SIMPLES PARA O DIA-A-DIA</a>
                        <br><br>
            <img src="../static/image/fitness.png" width="400px" height=250px">
            <br>
            <a href=".."> COMIDAS FIT</a>

        </div>
    </div>





</body>
</html>