<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>REMOVER USUARIOS | Administrador </title>
    <link rel="stylesheet" href="/static/css/removerusers.css">
</head>
<body>
    <div class="topo">
        <h1>PAINEL DO ADMINISTRADOR | REMOVER USUARIOS</h1>
        <p>Gerenciamento de Usuários e Cardápio | Receitas Love</p>
    </div>

    <div class="Conteudo">

    {% for u in usuarios %}
        <a>Nome: {{u.nome}}  |  </a>
        <a>Login: {{u.login}} | </a>
        <a href="/admin/removerusers/{{u.login}}">
            Excluir
        </a>
        <br><br>

    {% endfor %}
    </div>

</body>
</html>